---
import LanguagePicker from "../components/LanguagePicker.astro";
import { defaultLang, languages } from "../i18n/languages";
import { getResourceRoute } from "../i18n/utils";

const { lang: currentLang } = Astro.params; // current selected language in the URL
const baseUrl = import.meta.env.BASE_URL; // base path of the site
const siteUrl = import.meta.env.SITE; // domain of the site

/* current resource user is navigating to */
const resourceRoute = getResourceRoute(Astro.url.pathname || "");

//#region SEO i18n link tags

/** canonical self-referencing */
const canonicalLink = `${siteUrl}${baseUrl}/${currentLang}${resourceRoute}`;

/** alternate hreflang links */
const alternatesHref = Object.keys(languages).map((lang) => ({
  hreflang: lang,
  href: `${siteUrl}${baseUrl}/${lang}${resourceRoute}`,
}));

// x-default (added only in homepage) -->
if (resourceRoute === "/")
  alternatesHref.push({
    hreflang: "x-default",
    href: `${siteUrl}${baseUrl}/${defaultLang}/`,
  });
//#endregion
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}favicon.svg`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Via dei Sette Santi</title>

    <!-- #region i18n SEO link tags -->
    <link rel="canonical" href={canonicalLink} />

    <!-- i18n SEO: Hreflang (alternate + xdefault) -->
    {
      alternatesHref.map((alt) => (
        <link rel="alternate" hreflang={alt.hreflang} href={alt.href} />
      ))
    }
    <!-- #endregion -->
  </head>

  <body>
    <nav>
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Contact</a>
    </nav>

    <slot />

    <footer>
      <LanguagePicker />
    </footer>
  </body>
</html>
